<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <h1>Order Confirmation</h1>
    <p>Dear ,</p>
    <p>Your order with the following details has been confirmed:</p>
    <p>Course Name: <%=order.name%></p>
    <p>Order ID: <%= order._id %></p>
    <p>Order Date: <%= order.date %></p>

    
   
    
    <p>Total amount: $<%= order.price %></p>
    
    <p>Thank you for shopping with us!</p>
</body>
</html>
